/*-------------------------*/
/*-------Constants---------*/
/*-------------------------*/
/*-------------------------*/
/*-Mobile Screen Rendering-*/
/*-------------------------*/
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Prefixed version requred  for IE10 */
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
body {
  min-width: 250px;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}
/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/
/*-------------------------*/
/*---------Content---------*/
/*-------------------------*/
section {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.7em;
  width: 100%;
}
.invert {
  background-color: #2288dd;
  color: #ffffff;
}
/*-------------------------*/
/*---------Cards-----------*/
/*-------------------------*/
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 250px;
  height: 350px;
}
.back {
  visibility: hidden;
}
